.navbar {
  position: relative;
  justify-content: space-between;
  background:white;
  height: 40px;
  padding-left: 5px
}

.navbar-brand {
  position: absolute;
  align-items: center;
  padding-top: 2px;
}
